body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.logo {
  background: url("../../img/product/svg/Logo.svg") no-repeat center center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 120px;
  height: 47px;
}

@media (min-width: 800px) {
  .logo {
    width: auto;
    margin-top: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: red;
  text-align: center;
}

input {
  border-radius: 3px;
  border: none;
  background-color: #f60d4d20;
}

button {
  cursor: pointer;
  padding: 10px 30px 10px 30px;
}

.top-nav {
  display: none;
}

@media (min-width: 800px) {
  .top-nav {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .top-nav__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 20px;
  }
  .top-nav__form .sidebar__menu__list-item {
    margin-left: 20px;
    list-style: none;
  }
}

.main__header {
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 31px 65px -16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 31px 65px -16px rgba(0, 0, 0, 0.3);
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.main__header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 800px) {
  .main__header__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__header__btn {
  background-color: #f60d4d;
  border: none;
  border-radius: 3px;
  color: white;
  margin-left: 8px;
}

.main__header__btn a {
  color: white;
  text-decoration: none;
}

.main__header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__header__search--input {
  width: 150px;
}

@media (min-width: 800px) {
  .main__header__search {
    margin-top: 0;
  }
  .main__header__search input {
    min-width: 260px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .nav {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__item:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav__item:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: auto;
  }
}

.hamburger__bar-wrapper {
  position: fixed;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  place-content: center space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2.0em;
  cursor: pointer;
  z-index: 99999;
}

@media (min-width: 800px) {
  .hamburger__bar-wrapper {
    display: none;
  }
}

.hamburger__bar-wrapper span {
  margin-bottom: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  background: #f60d4d;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.hamburger__bar-wrapper.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center center;
  z-index: 999999;
  opacity: 0.9;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (min-width: 800px) {
  .hamburger__bar-wrapper.active {
    display: none;
  }
}

.hamburger__bar-wrapper.active span {
  position: relative;
  background: #f60d4d;
}

.hamburger__bar-wrapper.active span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.hamburger__bar-wrapper.active span:nth-child(2) {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 1px;
}

.hamburger__bar-wrapper.active span:nth-child(3) {
  background: rgba(0, 0, 0, 0);
}

.desktop-text {
  margin: 0;
  display: none;
}

@media (min-width: 800px) {
  .desktop-text {
    display: inherit;
  }
}

.img-cart,
.img-search,
.img-login {
  max-width: 20px;
  max-height: 20px;
}

@media (min-width: 800px) {
  .img-cart,
  .img-login {
    display: none;
  }
}

.login-btn,
.cart-btn {
  padding: 4px;
  margin-top: 1em;
  margin-right: 1em;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 800px) {
  .login-btn,
  .cart-btn {
    position: inherit;
    margin-top: 0;
    padding: 12px;
  }
}

.login-btn {
  right: 34px;
}

.search-btn {
  position: inherit;
  margin-top: 0;
  padding: 4px;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 800px) {
  .search-btn {
    position: inherit;
    margin-top: 0;
    padding: 8px;
  }
}

.cart {
  padding: 1em;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  right: 32px;
  top: 60px;
  z-index: 1000;
  background: #e6dfdf;
  min-width: 300px;
  min-height: 300px;
  border-radius: 8px;
}

.cart h2 {
  text-align: center;
}

.cart__product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart__product {
  margin: 30px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: minmax(50px, 1fr);
}

.cart__sum-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.cart__product-img, .cart__product-text, .cart__product-price, .cart__product-pull-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cart__product-img {
  max-width: 170px;
  max-height: 170px;
}

/* bp: 425px / 768px / 1220px / max: 1440  */
/* col: 1    /  2-3  /   4    /  maintain 4, add margin*/
/* Width between 425px - 843px 2 */
/* Width between 843px - 1113px 3 */
/* Width 1113px above 4 */
/* mobile  */
.product-container {
  background-color: yellow;
  display: -ms-grid;
  -ms-grid-rows: 1fr 80px [12] !important;
  -ms-grid-columns: 1fr;
}

.product-container > :nth-child(1) {
  -ms-grid-row: 1 !important;
}

.product-container > :nth-child(2) {
  -ms-grid-row: 3 !important;
}

.product-container > :nth-child(3) {
  -ms-grid-row: 5 !important;
}

.product-container > :nth-child(4) {
  -ms-grid-row: 7 !important;
}

.product-container > :nth-child(5) {
  -ms-grid-row: 9 !important;
}

.product-container > :nth-child(6) {
  -ms-grid-row: 11 !important;
}

.product-container > :nth-child(7) {
  -ms-grid-row: 13 !important;
}

.product-container > :nth-child(8) {
  -ms-grid-row: 15 !important;
}

.product-container > :nth-child(9) {
  -ms-grid-row: 17 !important;
}

.product-container > :nth-child(10) {
  -ms-grid-row: 19 !important;
}

.product-container > :nth-child(11) {
  -ms-grid-row: 21 !important;
}

.product-container > :nth-child(12) {
  -ms-grid-row: 23 !important;
}

.product-container > :nth-child(13) {
  -ms-grid-row: 25 !important;
}

.product-container > :nth-child(14) {
  -ms-grid-row: 27 !important;
}

.product-container > :nth-child(15) {
  -ms-grid-row: 29 !important;
}

.product-container > :nth-child(16) {
  -ms-grid-row: 31 !important;
}

.product-container > :nth-child(17) {
  -ms-grid-row: 33 !important;
}

.product-container > :nth-child(18) {
  -ms-grid-row: 35 !important;
}

.product-container > :nth-child(19) {
  -ms-grid-row: 37 !important;
}

.product-container > :nth-child(20) {
  -ms-grid-row: 39 !important;
}

.product-container > :nth-child(21) {
  -ms-grid-row: 41 !important;
}

.product-container > :nth-child(22) {
  -ms-grid-row: 43 !important;
}

.product-container > :nth-child(23) {
  -ms-grid-row: 45 !important;
}

.product-container > :nth-child(24) {
  -ms-grid-row: 47 !important;
}

.product-container > :nth-child(25) {
  -ms-grid-row: 49 !important;
}

.product-container > :nth-child(26) {
  -ms-grid-row: 51 !important;
}

.product-container > :nth-child(27) {
  -ms-grid-row: 53 !important;
}

.product-container > :nth-child(28) {
  -ms-grid-row: 55 !important;
}

.product-container > :nth-child(29) {
  -ms-grid-row: 57 !important;
}

.product-container > :nth-child(30) {
  -ms-grid-row: 59 !important;
}

.product-container > :nth-child(31) {
  -ms-grid-row: 61 !important;
}

.product-container > :nth-child(32) {
  -ms-grid-row: 63 !important;
}

.product-container > :nth-child(33) {
  -ms-grid-row: 65 !important;
}

.product-container > :nth-child(34) {
  -ms-grid-row: 67 !important;
}

.product-container > :nth-child(35) {
  -ms-grid-row: 69 !important;
}

.product-container > :nth-child(36) {
  -ms-grid-row: 71 !important;
}

.product-container > :nth-child(37) {
  -ms-grid-row: 73 !important;
}

.product-container > :nth-child(38) {
  -ms-grid-row: 75 !important;
}

.product-container > :nth-child(39) {
  -ms-grid-row: 77 !important;
}

.product-container > :nth-child(40) {
  -ms-grid-row: 79 !important;
}

.product-container > :nth-child(41) {
  -ms-grid-row: 81 !important;
}

.product-container > :nth-child(42) {
  -ms-grid-row: 83 !important;
}

.product-container > :nth-child(43) {
  -ms-grid-row: 85 !important;
}

.product-container > :nth-child(44) {
  -ms-grid-row: 87 !important;
}

.product-container > :nth-child(45) {
  -ms-grid-row: 89 !important;
}

.product-container > :nth-child(46) {
  -ms-grid-row: 91 !important;
}

.product-container > :nth-child(47) {
  -ms-grid-row: 93 !important;
}

.product-container > :nth-child(48) {
  -ms-grid-row: 95 !important;
}

.product-container > :nth-child(49) {
  -ms-grid-row: 97 !important;
}

.product-container > :nth-child(50) {
  -ms-grid-row: 99 !important;
}

.product-container > :nth-child(51) {
  -ms-grid-row: 101 !important;
}

.product-container > :nth-child(52) {
  -ms-grid-row: 103 !important;
}

.product-container > :nth-child(53) {
  -ms-grid-row: 105 !important;
}

.product-container > :nth-child(54) {
  -ms-grid-row: 107 !important;
}

.product-container > :nth-child(55) {
  -ms-grid-row: 109 !important;
}

.product-container > :nth-child(56) {
  -ms-grid-row: 111 !important;
}

.product-container > :nth-child(57) {
  -ms-grid-row: 113 !important;
}

.product-container > :nth-child(58) {
  -ms-grid-row: 115 !important;
}

.product-container > :nth-child(59) {
  -ms-grid-row: 117 !important;
}

.product-container > :nth-child(60) {
  -ms-grid-row: 119 !important;
}

.product-container > :nth-child(61) {
  -ms-grid-row: 121 !important;
}

.product-container > :nth-child(62) {
  -ms-grid-row: 123 !important;
}

.product-container > :nth-child(63) {
  -ms-grid-row: 125 !important;
}

.product-container > :nth-child(64) {
  -ms-grid-row: 127 !important;
}

.product-container > :nth-child(65) {
  -ms-grid-row: 129 !important;
}

.product-container > :nth-child(66) {
  -ms-grid-row: 131 !important;
}

.product-container > :nth-child(67) {
  -ms-grid-row: 133 !important;
}

.product-container > :nth-child(68) {
  -ms-grid-row: 135 !important;
}

.product-container > :nth-child(69) {
  -ms-grid-row: 137 !important;
}

.product-container > :nth-child(70) {
  -ms-grid-row: 139 !important;
}

.product-container > :nth-child(71) {
  -ms-grid-row: 141 !important;
}

.product-container > :nth-child(72) {
  -ms-grid-row: 143 !important;
}

.product-container > :nth-child(73) {
  -ms-grid-row: 145 !important;
}

.product-container > :nth-child(74) {
  -ms-grid-row: 147 !important;
}

.product-container > :nth-child(75) {
  -ms-grid-row: 149 !important;
}

.product-container > :nth-child(76) {
  -ms-grid-row: 151 !important;
}

.product-container > :nth-child(77) {
  -ms-grid-row: 153 !important;
}

.product-container > :nth-child(78) {
  -ms-grid-row: 155 !important;
}

.product-container > :nth-child(79) {
  -ms-grid-row: 157 !important;
}

.product-container > :nth-child(80) {
  -ms-grid-row: 159 !important;
}

.product-container > :nth-child(81) {
  -ms-grid-row: 161 !important;
}

.product-container > :nth-child(82) {
  -ms-grid-row: 163 !important;
}

.product-container > :nth-child(83) {
  -ms-grid-row: 165 !important;
}

.product-container > :nth-child(84) {
  -ms-grid-row: 167 !important;
}

.product-container > :nth-child(85) {
  -ms-grid-row: 169 !important;
}

.product-container > :nth-child(86) {
  -ms-grid-row: 171 !important;
}

.product-container > :nth-child(87) {
  -ms-grid-row: 173 !important;
}

.product-container > :nth-child(88) {
  -ms-grid-row: 175 !important;
}

.product-container > :nth-child(89) {
  -ms-grid-row: 177 !important;
}

.product-container > :nth-child(90) {
  -ms-grid-row: 179 !important;
}

.product-container > :nth-child(91) {
  -ms-grid-row: 181 !important;
}

.product-container > :nth-child(92) {
  -ms-grid-row: 183 !important;
}

.product-container > :nth-child(93) {
  -ms-grid-row: 185 !important;
}

.product-container > :nth-child(94) {
  -ms-grid-row: 187 !important;
}

.product-container > :nth-child(95) {
  -ms-grid-row: 189 !important;
}

.product-container > :nth-child(96) {
  -ms-grid-row: 191 !important;
}

.product-container > :nth-child(97) {
  -ms-grid-row: 193 !important;
}

.product-container > :nth-child(98) {
  -ms-grid-row: 195 !important;
}

.product-container > :nth-child(99) {
  -ms-grid-row: 197 !important;
}

.product-container > :nth-child(100) {
  -ms-grid-row: 199 !important;
}

.product-container > :nth-child(101) {
  -ms-grid-row: 201 !important;
}

.product-container > :nth-child(102) {
  -ms-grid-row: 203 !important;
}

.product-container > :nth-child(103) {
  -ms-grid-row: 205 !important;
}

.product-container > :nth-child(104) {
  -ms-grid-row: 207 !important;
}

.product-container > :nth-child(105) {
  -ms-grid-row: 209 !important;
}

.product-container > :nth-child(106) {
  -ms-grid-row: 211 !important;
}

.product-container > :nth-child(107) {
  -ms-grid-row: 213 !important;
}

.product-container > :nth-child(108) {
  -ms-grid-row: 215 !important;
}

.product-container > :nth-child(109) {
  -ms-grid-row: 217 !important;
}

.product-container > :nth-child(110) {
  -ms-grid-row: 219 !important;
}

.product-container > :nth-child(111) {
  -ms-grid-row: 221 !important;
}

.product-container > :nth-child(112) {
  -ms-grid-row: 223 !important;
}

.product-container > :nth-child(113) {
  -ms-grid-row: 225 !important;
}

.product-container > :nth-child(114) {
  -ms-grid-row: 227 !important;
}

.product-container > :nth-child(115) {
  -ms-grid-row: 229 !important;
}

.product-container > :nth-child(116) {
  -ms-grid-row: 231 !important;
}

.product-container > :nth-child(117) {
  -ms-grid-row: 233 !important;
}

.product-container > :nth-child(118) {
  -ms-grid-row: 235 !important;
}

.product-container > :nth-child(119) {
  -ms-grid-row: 237 !important;
}

.product-container > :nth-child(120) {
  -ms-grid-row: 239 !important;
}

.product-container > :nth-child(121) {
  -ms-grid-row: 241 !important;
}

.product-container > :nth-child(122) {
  -ms-grid-row: 243 !important;
}

.product-container > :nth-child(123) {
  -ms-grid-row: 245 !important;
}

.product-container > :nth-child(124) {
  -ms-grid-row: 247 !important;
}

.product-container > :nth-child(125) {
  -ms-grid-row: 249 !important;
}

.product-container > :nth-child(126) {
  -ms-grid-row: 251 !important;
}

.product-container > :nth-child(127) {
  -ms-grid-row: 253 !important;
}

.product-container > :nth-child(128) {
  -ms-grid-row: 255 !important;
}

.product-container > :nth-child(129) {
  -ms-grid-row: 257 !important;
}

/* Width between 425px - 768px 2 */
@media screen and (max-width: 768px) and (min-width: 500px) {
  .product-container {
    -ms-grid-rows: 1fr 80px [12] !important;
    -ms-grid-columns: 1fr 2em 1fr;
  }
  .product-container > :nth-child(1) {
    -ms-grid-row: 2 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(2) {
    -ms-grid-row: 1 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(3) {
    -ms-grid-row: 3 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(4) {
    -ms-grid-row: 2 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(5) {
    -ms-grid-row: 4 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(6) {
    -ms-grid-row: 3 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(7) {
    -ms-grid-row: 5 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(8) {
    -ms-grid-row: 4 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(9) {
    -ms-grid-row: 6 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(10) {
    -ms-grid-row: 5 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(11) {
    -ms-grid-row: 7 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(12) {
    -ms-grid-row: 6 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(13) {
    -ms-grid-row: 8 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(14) {
    -ms-grid-row: 7 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(15) {
    -ms-grid-row: 9 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(16) {
    -ms-grid-row: 8 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(17) {
    -ms-grid-row: 10 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(18) {
    -ms-grid-row: 9 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(19) {
    -ms-grid-row: 11 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(20) {
    -ms-grid-row: 10 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(21) {
    -ms-grid-row: 12 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(22) {
    -ms-grid-row: 11 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(23) {
    -ms-grid-row: 13 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(24) {
    -ms-grid-row: 12 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(25) {
    -ms-grid-row: 14 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(26) {
    -ms-grid-row: 13 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(27) {
    -ms-grid-row: 15 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(28) {
    -ms-grid-row: 14 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(29) {
    -ms-grid-row: 16 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(30) {
    -ms-grid-row: 15 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(31) {
    -ms-grid-row: 17 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(32) {
    -ms-grid-row: 16 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(33) {
    -ms-grid-row: 18 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(34) {
    -ms-grid-row: 17 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(35) {
    -ms-grid-row: 19 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(36) {
    -ms-grid-row: 18 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(37) {
    -ms-grid-row: 20 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(38) {
    -ms-grid-row: 19 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(39) {
    -ms-grid-row: 21 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(40) {
    -ms-grid-row: 20 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(41) {
    -ms-grid-row: 22 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(42) {
    -ms-grid-row: 21 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(43) {
    -ms-grid-row: 23 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(44) {
    -ms-grid-row: 22 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(45) {
    -ms-grid-row: 24 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(46) {
    -ms-grid-row: 23 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(47) {
    -ms-grid-row: 25 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(48) {
    -ms-grid-row: 24 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(49) {
    -ms-grid-row: 26 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(50) {
    -ms-grid-row: 25 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(51) {
    -ms-grid-row: 27 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(52) {
    -ms-grid-row: 26 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(53) {
    -ms-grid-row: 28 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(54) {
    -ms-grid-row: 27 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(55) {
    -ms-grid-row: 29 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(56) {
    -ms-grid-row: 28 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(57) {
    -ms-grid-row: 30 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(58) {
    -ms-grid-row: 29 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(59) {
    -ms-grid-row: 31 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(60) {
    -ms-grid-row: 30 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(61) {
    -ms-grid-row: 32 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(62) {
    -ms-grid-row: 31 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(63) {
    -ms-grid-row: 33 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(64) {
    -ms-grid-row: 32 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(65) {
    -ms-grid-row: 34 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(66) {
    -ms-grid-row: 33 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(67) {
    -ms-grid-row: 35 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(68) {
    -ms-grid-row: 34 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(69) {
    -ms-grid-row: 36 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(70) {
    -ms-grid-row: 35 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(71) {
    -ms-grid-row: 37 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(72) {
    -ms-grid-row: 36 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(73) {
    -ms-grid-row: 38 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(74) {
    -ms-grid-row: 37 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(75) {
    -ms-grid-row: 39 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(76) {
    -ms-grid-row: 38 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(77) {
    -ms-grid-row: 40 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(78) {
    -ms-grid-row: 39 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(79) {
    -ms-grid-row: 41 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(80) {
    -ms-grid-row: 40 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(81) {
    -ms-grid-row: 42 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(82) {
    -ms-grid-row: 41 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(83) {
    -ms-grid-row: 43 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(84) {
    -ms-grid-row: 42 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(85) {
    -ms-grid-row: 44 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(86) {
    -ms-grid-row: 43 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(87) {
    -ms-grid-row: 45 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(88) {
    -ms-grid-row: 44 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(89) {
    -ms-grid-row: 46 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(90) {
    -ms-grid-row: 45 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(91) {
    -ms-grid-row: 47 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(92) {
    -ms-grid-row: 46 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(93) {
    -ms-grid-row: 48 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(94) {
    -ms-grid-row: 47 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(95) {
    -ms-grid-row: 49 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(96) {
    -ms-grid-row: 48 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(97) {
    -ms-grid-row: 50 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(98) {
    -ms-grid-row: 49 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(99) {
    -ms-grid-row: 51 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(100) {
    -ms-grid-row: 50 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(101) {
    -ms-grid-row: 52 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(102) {
    -ms-grid-row: 51 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(103) {
    -ms-grid-row: 53 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(104) {
    -ms-grid-row: 52 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(105) {
    -ms-grid-row: 54 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(106) {
    -ms-grid-row: 53 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(107) {
    -ms-grid-row: 55 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(108) {
    -ms-grid-row: 54 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(109) {
    -ms-grid-row: 56 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(110) {
    -ms-grid-row: 55 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(111) {
    -ms-grid-row: 57 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(112) {
    -ms-grid-row: 56 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(113) {
    -ms-grid-row: 58 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(114) {
    -ms-grid-row: 57 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(115) {
    -ms-grid-row: 59 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(116) {
    -ms-grid-row: 58 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(117) {
    -ms-grid-row: 60 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(118) {
    -ms-grid-row: 59 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(119) {
    -ms-grid-row: 61 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(120) {
    -ms-grid-row: 60 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(121) {
    -ms-grid-row: 62 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(122) {
    -ms-grid-row: 61 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(123) {
    -ms-grid-row: 63 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(124) {
    -ms-grid-row: 62 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(125) {
    -ms-grid-row: 64 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(126) {
    -ms-grid-row: 63 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(127) {
    -ms-grid-row: 65 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(128) {
    -ms-grid-row: 64 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(129) {
    -ms-grid-row: 66 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(130) {
    -ms-grid-row: 65 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(131) {
    -ms-grid-row: 67 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(132) {
    -ms-grid-row: 66 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(133) {
    -ms-grid-row: 68 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(134) {
    -ms-grid-row: 67 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(135) {
    -ms-grid-row: 69 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(136) {
    -ms-grid-row: 68 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(137) {
    -ms-grid-row: 70 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(138) {
    -ms-grid-row: 69 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(139) {
    -ms-grid-row: 71 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(140) {
    -ms-grid-row: 70 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(141) {
    -ms-grid-row: 72 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(142) {
    -ms-grid-row: 71 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(143) {
    -ms-grid-row: 73 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(144) {
    -ms-grid-row: 72 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(145) {
    -ms-grid-row: 74 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(146) {
    -ms-grid-row: 73 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(147) {
    -ms-grid-row: 75 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(148) {
    -ms-grid-row: 74 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(149) {
    -ms-grid-row: 76 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(150) {
    -ms-grid-row: 75 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(151) {
    -ms-grid-row: 77 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(152) {
    -ms-grid-row: 76 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(153) {
    -ms-grid-row: 78 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(154) {
    -ms-grid-row: 77 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(155) {
    -ms-grid-row: 79 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(156) {
    -ms-grid-row: 78 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(157) {
    -ms-grid-row: 80 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(158) {
    -ms-grid-row: 79 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(159) {
    -ms-grid-row: 81 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(160) {
    -ms-grid-row: 80 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(161) {
    -ms-grid-row: 82 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(162) {
    -ms-grid-row: 81 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(163) {
    -ms-grid-row: 83 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(164) {
    -ms-grid-row: 82 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(165) {
    -ms-grid-row: 84 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(166) {
    -ms-grid-row: 83 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(167) {
    -ms-grid-row: 85 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(168) {
    -ms-grid-row: 84 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(169) {
    -ms-grid-row: 86 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(170) {
    -ms-grid-row: 85 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(171) {
    -ms-grid-row: 87 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(172) {
    -ms-grid-row: 86 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(173) {
    -ms-grid-row: 88 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(174) {
    -ms-grid-row: 87 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(175) {
    -ms-grid-row: 89 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(176) {
    -ms-grid-row: 88 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(177) {
    -ms-grid-row: 90 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(178) {
    -ms-grid-row: 89 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(179) {
    -ms-grid-row: 91 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(180) {
    -ms-grid-row: 90 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(181) {
    -ms-grid-row: 92 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(182) {
    -ms-grid-row: 91 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(183) {
    -ms-grid-row: 93 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(184) {
    -ms-grid-row: 92 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(185) {
    -ms-grid-row: 94 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(186) {
    -ms-grid-row: 93 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(187) {
    -ms-grid-row: 95 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(188) {
    -ms-grid-row: 94 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(189) {
    -ms-grid-row: 96 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(190) {
    -ms-grid-row: 95 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(191) {
    -ms-grid-row: 97 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(192) {
    -ms-grid-row: 96 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(193) {
    -ms-grid-row: 98 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(194) {
    -ms-grid-row: 97 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(195) {
    -ms-grid-row: 99 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(196) {
    -ms-grid-row: 98 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(197) {
    -ms-grid-row: 100 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(198) {
    -ms-grid-row: 99 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(199) {
    -ms-grid-row: 101 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(200) {
    -ms-grid-row: 100 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(201) {
    -ms-grid-row: 102 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(202) {
    -ms-grid-row: 101 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(203) {
    -ms-grid-row: 103 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(204) {
    -ms-grid-row: 102 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(205) {
    -ms-grid-row: 104 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(206) {
    -ms-grid-row: 103 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(207) {
    -ms-grid-row: 105 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(208) {
    -ms-grid-row: 104 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(209) {
    -ms-grid-row: 106 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(210) {
    -ms-grid-row: 105 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(211) {
    -ms-grid-row: 107 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(212) {
    -ms-grid-row: 106 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(213) {
    -ms-grid-row: 108 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(214) {
    -ms-grid-row: 107 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(215) {
    -ms-grid-row: 109 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(216) {
    -ms-grid-row: 108 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(217) {
    -ms-grid-row: 110 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(218) {
    -ms-grid-row: 109 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(219) {
    -ms-grid-row: 111 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(220) {
    -ms-grid-row: 110 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(221) {
    -ms-grid-row: 112 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(222) {
    -ms-grid-row: 111 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(223) {
    -ms-grid-row: 113 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(224) {
    -ms-grid-row: 112 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(225) {
    -ms-grid-row: 114 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(226) {
    -ms-grid-row: 113 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(227) {
    -ms-grid-row: 115 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(228) {
    -ms-grid-row: 114 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(229) {
    -ms-grid-row: 116 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(230) {
    -ms-grid-row: 115 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(231) {
    -ms-grid-row: 117 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(232) {
    -ms-grid-row: 116 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(233) {
    -ms-grid-row: 118 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(234) {
    -ms-grid-row: 117 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(235) {
    -ms-grid-row: 119 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(236) {
    -ms-grid-row: 118 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(237) {
    -ms-grid-row: 120 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(238) {
    -ms-grid-row: 119 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(239) {
    -ms-grid-row: 121 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(240) {
    -ms-grid-row: 120 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(241) {
    -ms-grid-row: 122 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(242) {
    -ms-grid-row: 121 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(243) {
    -ms-grid-row: 123 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(244) {
    -ms-grid-row: 122 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(245) {
    -ms-grid-row: 124 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(246) {
    -ms-grid-row: 123 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(247) {
    -ms-grid-row: 125 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(248) {
    -ms-grid-row: 124 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(249) {
    -ms-grid-row: 126 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(250) {
    -ms-grid-row: 125 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(251) {
    -ms-grid-row: 127 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(252) {
    -ms-grid-row: 126 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(253) {
    -ms-grid-row: 128 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(254) {
    -ms-grid-row: 127 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(255) {
    -ms-grid-row: 129 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(256) {
    -ms-grid-row: 128 !important;
    -ms-grid-column: 3 !important;
  }
  .product-container > :nth-child(257) {
    -ms-grid-row: 130 !important;
    -ms-grid-column: 1 !important;
  }
  .product-container > :nth-child(258) {
    -ms-grid-row: 129 !important;
    -ms-grid-column: 3 !important;
  }
}

.content {
  margin-top: 80px;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-container {
  background-color: yellow;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  justify-items: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  text-align: center;
  margin: 0 8px 0 8px;
}

.product__count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
}

.product__count {
  text-align: center;
}

.product__count-btn {
  padding: 10px;
  margin: 10px;
  min-width: 32.1px;
}

.product__add-btn {
  margin-bottom: 10px;
}

.grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 200px !important;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 3fr 30vh;
      grid-template-rows: 3fr 30vh;
  grid-template-columns: 1fr;
}

.grid-box .grid-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  width: 100%;
  height: 100%;
}

.grid-box .grid-3 .product__img {
  width: 100%;
  max-width: 100%;
}

.grid-box .grid-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .grid-box .grid-2 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  color: #fefff0;
  left: -100%;
  position: fixed;
  height: 100vh;
  z-index: 5555;
  width: 100%;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.sidebar__menu {
  padding: 0;
  margin: 0;
}

.sidebar__menu a {
  text-decoration: none;
  color: black;
}

.sidebar__input__item {
  position: absolute;
}

.sidebar__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  border-radius: 3px;
  padding: 8px 45px 8px 45px;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  .sidebar {
    display: none;
  }
}

.sidebar.active {
  left: 0;
}

input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

label {
  z-index: 90;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.form {
  width: 50%;
  margin-left: 20%;
}

.form__inputs {
  width: 44%;
  margin: 10px 0 10px 4%;
  padding: 1%;
}

.form__msg {
  width: 93%;
  margin: 10px 0 10px 4%;
  padding: 1%;
}

.form__button {
  width: 15%;
  margin-left: 82%;
  margin-right: 3%;
}

.footer {
  width: 100%;
  background-color: whitesmoke;
}

.footer__contact__heading {
  font-weight: bold;
  margin: 5px auto 0 5%;
  font-size: 24px;
}

.footer__info__heading {
  font-weight: bold;
  margin: 5px auto;
  font-size: 24px;
}

.footer__contact__list__heading {
  font-weight: bold;
  margin: 5px auto 0 5%;
  font-size: 24px;
}

.footer__icon__heading {
  font-weight: bold;
  margin: 5px auto 0 5%;
  font-size: 24px;
}

.footer__shop__name {
  font-size: 32px;
  color: #ee4c4c;
  margin-left: 5%;
}

.footer__list {
  margin-left: 5%;
  padding-left: 20px;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

.footer__list__categori {
  color: black;
  text-decoration: none;
}

.footer__form {
  width: 100%;
}

.footer__form__inputs {
  width: 90%;
  min-height: 40px;
  background-color: #ffe4ed;
  border-radius: 5px;
  border-style: none;
  margin: 10px 5% 10px 5%;
  padding: 5px;
}

.footer__form__msg {
  width: 90%;
  min-height: 40px;
  background-color: #ffe4ed;
  border-radius: 5px;
  border-style: none;
  margin: 10px 5% 10px 5%;
  padding: 5px;
}

.footer__form__button {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  min-height: 40px;
  background-color: #ee4c4c;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.footer__embed__map {
  width: 100%;
  border: 0;
}

.footer__icons__wrapper {
  padding: 10px 0;
  margin-left: 5%;
}

.footer__icons {
  width: 50px;
  height: 50px;
  margin: 10px 5px;
}

.footer__contact__button {
  width: 95%;
  margin-bottom: 20px;
  min-height: 40px;
  background-color: #ee4c4c;
  color: white;
  border-radius: 5px;
  border-style: none;
}

@media (min-width: 800px) {
  .footer .logo {
    margin: 50px 5% auto auto;
  }
  .footer__contact__heading {
    font-weight: bold;
    margin: 5px auto 0 4%;
  }
  .footer__embed__map {
    height: 250px;
    padding-right: 0 30px;
  }
  .footer__bottom__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto auto 1fr;
        grid-template-columns: 1fr auto auto 1fr;
    gap: 3%;
  }
  .footer__bottom__wrapper__info__wrapper {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .footer__bottom__wrapper__contact__wrapper {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .footer__bottom__wrapper__info__wrapper, .footer__bottom__wrapper__contact__wrapper,
  .footer__bottom__wrapper .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__info__heading {
    margin: 0;
    margin-top: 50px;
  }
  .footer__contact__list__heading {
    margin: 0;
    margin-top: 50px;
  }
  .footer__icon__heading {
    margin: 0;
  }
  .footer__wrapper {
    -ms-grid-column: 4;
    grid-column: 4;
    padding-top: 0;
    margin-top: 50px;
    margin-right: auto;
  }
  .footer .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
  }
  .footer .footer__wrapper > *:not(:first-child) {
    margin-top: 10px;
  }
  .footer .footer__wrapper .footer-icon {
    cursor: pointer;
  }
  .footer .footer__wrapper .pulse:hover,
  .footer .footer__wrapper .pulse:focus {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
    -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 var(--hover);
              box-shadow: 0 0 0 0 var(--hover);
    }
  }
  @keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 var(--hover);
              box-shadow: 0 0 0 0 var(--hover);
    }
  }
}
/*# sourceMappingURL=style.css.map */