.main__header {
  -webkit-box-shadow: 0px 31px 65px -16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 31px 65px -16px rgba(0, 0, 0, 0.3);
  margin: 1.5em 0 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__header__btn {
  margin: 8px;
  background-color: #f60d4d;
  border: none;
  border-radius: 3px;
  color: white;
}

.main__header__btn a {
  color: white;
  text-decoration: none;
}

.main__header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__header__search button {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.hamburger__bar-wrapper {
  position: fixed;
  margin-left: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  place-content: center space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 3.4em;
  cursor: pointer;
  z-index: 99999;
}

@media (min-width: 700px) {
  .hamburger__bar-wrapper {
    display: none;
  }
}

.hamburger__bar-wrapper span {
  margin-bottom: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  background: #343436;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #343436;
  color: #fefff0;
  left: -100%;
  position: fixed;
  height: 100vh;
  z-index: 5555;
  width: 100%;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

@media (min-width: 700px) {
  .sidebar {
    left: 0;
    max-width: 350px;
  }
}

.sidebar.active {
  left: 0;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: red;
}

input {
  border-radius: 3px;
  border: none;
  background-color: #f60d4d20;
}

button {
  cursor: pointer;
  padding: 10px 30px 10px 30px;
}
/*# sourceMappingURL=style.css.map */