@import './layout/header';
body {
    margin: 0;
}
* {
  box-sizing: border-box;
}

h1 {
  color: red;
}
input {
    border-radius: 3px;
    border: none;
    background-color: #f60d4d20;
    
}
button {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
}