.cart {
  padding: 1em;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  right: 32px;
  top: 60px;
  z-index: 1000;
  background: rgb(230, 223, 223);
  min-width: 300px;
  min-height: 300px;
  border-radius: 8px;
  h2 {
    text-align: center;
  }
  &__product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__product {
    margin: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-rows: minmax(50px, 1fr);
  }
  &__sum-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__order {
  }

  &__product-text,
  &__product-price,
  &__product-pull-right {
    align-self: center;
  }

  &__product-img {
    max-width: 70px !important;
    max-height: 70px !important;
    img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
  }
  &__product-text {
  }
  &__product-price {
  }
  &__product-pull-right {
      display: flex;
      justify-content: space-evenly;
  }
  &__product-delete {
    cursor: pointer;
  }
}
