/* bp: 425px / 768px / 1220px / max: 1440  */
/* col: 1    /  2-3  /   4    /  maintain 4, add margin*/
/* Width between 425px - 843px 2 */
/* Width between 843px - 1113px 3 */
/* Width 1113px above 4 */

/* mobile  */
.product-container {
  display: -ms-grid;
  // -ms-grid-rows: (1fr 80px)[12] !important;
  -ms-grid-columns: 1fr;
  overflow: hidden;

  .grid-box {
    margin-bottom: 20px;

    .product__title {
      width: 100%;
    }
  }
}

$elements: 120;

@for $i from 1 to $elements {
  .product-container>:nth-child(#{$i }) {
    -ms-grid-row: $i + $i -1 !important;
  }
}

/* Width between 425px - 768px 2 */
@media screen and (max-width: 843px) and (min-width: 500px) {
  .product-container {
    // -ms-grid-rows: (1fr 80px)[12] !important;
    -ms-grid-columns: 1fr 2em 1fr;
  }

  $elements: 120;

  @for $i from 1 to $elements {
    .product-container>:nth-child(#{$i*2 - 1}) {
      -ms-grid-row: $i !important;
      -ms-grid-column: 1 !important;
    }

    .product-container>:nth-child(#{$i*2}) {
      -ms-grid-row: $i !important;
      -ms-grid-column: 3 !important;
    }
  }
}

/* Width between 843px - 1113px 3 */
@media screen and (max-width: 1113px) and (min-width: 843px) {
  .product-container {
    // -ms-grid-rows: (1fr 80px)[12] !important;
    -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
  }

  $elements: 120;

  @for $i from 0 to $elements {

    /* 1/4/7/10/.. */
    .product-container>:nth-child(#{$i*3 + 1}) {
      -ms-grid-row: $i + 1 !important;
      -ms-grid-column: 1 !important;
    }

    /* 2/5/8/11/... */
    .product-container>:nth-child(#{$i*3 + 2}) {
      -ms-grid-row: $i +1 !important;
      -ms-grid-column: 3 !important;
    }

    /* 3/6/9/12/... */
    .product-container>:nth-child(#{$i*3 + 3}) {
      -ms-grid-row: $i +1 !important;
      -ms-grid-column: 5 !important;
    }
  }
}

/* Width 1113px above 4 */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (min-width: 1000px) {
  .product-container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1114px) {
  .product-container {
    // -ms-grid-rows: (1fr 80px)[12] !important;
    -ms-grid-columns: 1fr 2em 1fr 2em 1fr 2em 1fr;
  }

  $elements: 120;

  @for $i from 0 to $elements {

    .product-container>:nth-child(#{$i*4 + 1}) {
      -ms-grid-row: $i + 1 !important;
      -ms-grid-column: 1 !important;
    }

    .product-container>:nth-child(#{$i*4 + 2}) {
      -ms-grid-row: $i +1 !important;
      -ms-grid-column: 3 !important;
    }

    .product-container>:nth-child(#{$i*4 + 3}) {
      -ms-grid-row: $i +1 !important;
      -ms-grid-column: 5 !important;
    }

    .product-container>:nth-child(#{$i*4 + 4}) {
      -ms-grid-row: $i +1 !important;
      -ms-grid-column: 7 !important;
    }
  }
}

.content {
  margin-top: 80px;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.product-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  justify-items: center;
}

.product {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    margin: 0 8px 0 8px;
  }

  &__count-container {
    display: flex;
    margin: 8px;
  }

  &__count {
    text-align: center;
  }

  &__count-btn {
    padding: 10px;
    margin: 10px;
    min-width: 32.1px;
  }

  &__add-btn {
    margin-bottom: 10px;
  }
}

/* Set each product cart to display grid */
.grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 200px !important;
  -ms-grid-columns: 1fr;
  // grid-template-rows: 3fr 2fr;
  grid-template-rows: 3fr;
  // grid-template-rows: 3fr 30vh;
  grid-template-columns: 1fr;
  // max-height: 300px;

  .grid-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    width: 100%;
    height: 100%;

    .product__img {
      width: 100%;
      max-width: 100%;
    }
  }

  .grid-2 {
    margin-top: 20px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @supports(display: grid) {
      display: grid;
      justify-items: center;
    }
  }
}

main{
  overflow: hidden;
}