.main__header {
  box-shadow: 0px 31px 23px -17px rgba(0, 0, 0, 0.3);
  margin: 1.5em 0 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__logo {
    display: flex;
    justify-content: center;
  }
  &__btn {
    margin: 8px;
    background-color: #f60d4d;
    border: none;
    border-radius: 3px;
    color: white;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &__search {
    display: flex;
    justify-content: center;
    button {
      margin: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}
.hamburger__bar-wrapper {
  position: fixed;
  margin-left: 1.5em;
  display: flex;
  height: 2em;
  place-content: center space-evenly;
  flex-direction: column;
  width: 3.4em;
  cursor: pointer;
  z-index: 99999;
  @media (min-width: 700px) {
    display: none;
  }
  span {
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    height: 8px;
    background: rgb(52, 52, 54);
    opacity: 1;
    transition: transform 0.25s ease-in-out;
  }
}
