.main__header {
  margin: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    margin: 8px;
    background-color: #F60D4D;
    padding: 8px 30px 8px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
    }
    &__search {
        display: flex;
        button {
            margin: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
input {
    border-radius: 3px;
    border: none;
    background-color: #f60d4d20;
    padding: 8px 30px 8px 30px;
}
button {
    cursor: pointer;
}
.hamburger__bar-wrapper {
  align-self: center;
  display: flex;
  height: 2em;
  place-content: center space-evenly;
  flex-direction: column;
  width: 3.4em;
  cursor: pointer;
  z-index: 99999;
  @media (min-width: 700px) {
    display: none;
  }
  span {
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    height: 8px;
    background: rgb(52, 52, 54);
    opacity: 1;
    transition: transform 0.25s ease-in-out;
  }
}
