.content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin-top: 246px;
  @media (min-width: 700px) {
    margin-left: 250px;
    margin-top: 118px;
  }
}
.filter {
    margin-bottom: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(0, 1fr);   
}
.count-container {
    display: flex;
    margin: 8px;
}
.count {
    text-align: center;
    &-btn {
        padding: 10px;
        margin: 10px;
        min-width: 32.1px;
    }
}
.img-wrapper {
  width: 100%;
  &_img {
    max-height: 260px;
  }
}
