.sidebar {
  display: flex;
  flex-direction: column;
  background: rgb(52, 52, 54);
  color: rgb(254, 255, 240);
  left: -100%;
  position: fixed;
  height: 100vh;

  z-index: 5555;
  width: 100%;
  transition: left 0.3s ease-in-out;
  @media (min-width: 700px) {
    left: 0;
    max-width: 350px;
  }
}
.sidebar.active {
    left: 0;
}