form.add-category {
  display: flex;
  max-width: 330px;
  margin: 10px 0;
}

.add-category input.category-input {
  width: 100%;
  border: 1px solid gray;

  padding: 12px;
  margin-right: 2px;
  border-radius: 6px;
  height: 38px;
  line-height: 6px;
  font-size: 14px;

  &.input-left {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &.input-right {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  &.input-mid {
    border-radius: 0px;
  }
}
