.admin-main__content {

  &--search {
    margin-left: 3rem;

    .error-up {
      margin-left: 3rem;
      color: red;
      font-size: 1.2rem;
      // visibility: hidden;
    }

    i {
      margin-right: 1vw;
      font-size: large;
    }

    .search-area {
      padding: 1.5rem;
      height: 4rem;
      width: 25rem;
      border-radius: 7px;
      border: 1px solid grey;
      margin: .5rem 2rem 1.2rem 0;
      outline: none;

      &:focus {
        border: 1px solid rgb(53, 201, 247);
      }
    }

  }

  &__products-table {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;

    @media screen and (min-width: 479px) {}

    @media screen and (min-width: 768px) {
      margin-top: 2rem;
    }

    tr>th,
    tr>td {
      font-size: 1.4rem;
      text-align: center;
      padding: 1rem;

      @media screen and (min-width: 768px) {
        font-size: 1.4rem;
      }
    }

    tr>th:first-child,
    tr>td:first-child {}

    tr>th:last-child,
    tr>td:last-child {
      width: 15%;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr>td:last-child>a:first-child {
      margin-right: 2rem;
      color: #224022;
    }

    tr>td:last-child>a:last-child {
      color: rgb(138, 16, 16);
    }
  }
}

// This class avoids creating multiple lines
.ellipsis {
  position: relative;
  width: 23%;
}

.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}

.ellipsis .description-text {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}