table.category-table,
table.product-table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  //   width: 100%;
  min-width: 320px;
  //https://css-tricks.com/responsive-data-tables/ check this out

  @media screen and (min-width: 768px) {
    // margin-top: 1rem;
  }

  td.mediumCell {
    max-width: 400px;
  }

  td.smallCell {
    max-width: 150px;
  }

  tr > th,
  tr > td {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  tr > td,
  tr > th {
    // border-top: 1px solid #ddd;
    border: 1px solid #ddd;
  }
}
