table.category-table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-top: 1rem;
  }

  tr > th,
  tr > td {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  tbody > tr > td,
  tbody > tr > th,
  tfoot > tr > td,
  tfoot > tr > th,
  thead > tr > td,
  thead > tr > th {
    // border-top: 1px solid #ddd;
    border: 1px solid #ddd;
  }
}
