.admin-main {
  display: grid;
  grid-template-areas:
    "adminSidebar"
    "."
    "adminContent";
  -ms-grid-rows: 1fr 10px auto;
  -ms-grid-columns: 1fr;
  grid-template-rows: 1fr 10px min-content;
  margin: 0 auto;
  padding: 0 10px;
  max-width: $maxContentWidth;


  .admin-sidebar {
    -ms-grid-row: 1;
    grid-area: adminSidebar;
    width: auto;
    margin: 0;
    padding: 0;

    li {
      width: 25%;
    }
  }

  .admin-content {
    -ms-grid-row: 3;
    grid-area: adminContent;
    width: auto;
    padding: 0;
    margin: 0;
  }

  @media screen and (min-width: 900px) {
    grid-template-areas: "adminSidebar . adminContent";
    grid-template-columns: 150px 10px 1fr;
    -ms-grid-rows: 1fr 10px auto;
    -ms-grid-columns: 150px 10px 1fr;

    section.admin-sidebar {
      grid-area: adminSidebar;
      -ms-grid-row: 1/4;
      -ms-grid-column: span 3;
      grid-column: 1/2;
      width: auto;
      margin: 0;
      padding: 0;

      li {
        width: 100%;
      }
    }

    section.admin-content {
      grid-area: adminContent;
      -ms-grid-row: 1/4;
      -ms-grid-column: span 3;
      grid-column: 3/4;
      width: auto;
      padding: 0;
      margin: 0;
    }
  }
}

section.admin-content {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  div.content-wrapper {
    padding: 8px;
  }
}

section.admin-content::before {
  z-index: 1;
  background-color: #006991;
  content: "";
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 3px;
  left: 0px;
}