section.admin-sidebar nav.admin-nav {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 900px) {
    ul {
      flex-direction: column;
    }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 0;
    margin: 0 auto;
    text-decoration: none;
  }

  li a.active {
    background-color: #759252;
    font-weight: bold;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: whitesmoke;
  }
}

nav.admin-nav::before {
  z-index: 1;
  background-color: #759252;
  content: "";
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 3px;
  left: 0px;
}
