@import "base/variables";
@import "base/base";
@import "base/buttons";
@import "base/to-top-btn";
@import "base/db-table";

@import "admin-header";
@import "admin-nav";
@import "admin-main";

@import "category/input-forms";

@import "products/admin-products";

div.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px;
  border-radius: 2px;
  margin-bottom: 10px;

  &.success {
    background-color: #dff2d5;
    border: 1px solid #83b655;
    border-left: 5px solid #83b655;
  }

  &.fail {
    background-color: #f2dede;
    border: 1px solid #d03f00;
    border-left: 5px solid #d03f00;
    color: #333;
  }
}

.hidden {
  display: none !important;
}

// /* IE10+ CSS styles go here */
// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//   body {
//     overflow-x: hidden;
//   }

//   .ie-box {
//     display: table-cell;
//   }

//   .ellipsis {
//     display: none !important;
//   }

//   .admin-main {
//     font-size: 14px !important;
//     display: -ms-flexbox;
//     -ms-flex-direction: column;

//     .admin-sidebar {
//       margin-top: -20px;
//       margin-bottom: 10px;

//       .admin-nav {
//         ul {
//           -ms-flex-direction: row;

//           li {
//             width: 25%;
//             float: none;
//           }
//         }
//       }
//     }

//     .admin-content {
//       width: 100%;
//       max-width: 100%;

//       .content-wrapper {
//         width: 100%;

//         .input-left {
//           margin-top: -7px;
//           width: 80%;
//           min-width: 150px;
//         }

//         .create-btn {
//           margin-top: -7px;
//         }

//         .product-table {
//           tbody {
//             tr > td {
//               padding-left: 7px !important;

//               &::before {
//                 content: "" !important;
//               }
//             }

//             tr > td:nth-child(3) {
//               .productCoverDemo {
//                 .gallerySize {
//                   padding: 16px 3px;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// /* Internet Explorer 11+ */
// @media only screen and (max-width: 1920px) {
//   _:-ms-fullscreen,
//   :root .gallerySize {
//     line-height: 18px !important;
//   }
// }
