@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/buttons";
@import "base/form";

@import "layout/admin-category";
@import "layout/admin-category-table";
@import "layout/admin-products";

.admin-header {
  height: 12vh;

  @media screen and (min-width: 768px) {
    height: 10vh;
  }

  background-color: #333333;
  color: white;
  display: flex;

  &__title {
    align-self: center;
    margin-left: 3rem;
    font-size: 4rem;

    i {
      margin-right: 1rem;
    }
  }
}

.admin-main {
  display: grid;
  grid-template-columns: 30vh auto;
  grid-auto-rows: minmax(50px, auto); //100-10

  @media screen and (min-width: 768px) {
    grid-auto-rows: minmax(50px, auto); //100-20
    grid-template-rows: 20vh 120vh;
  }

  &__sidebar {
    background-color: #c4c4c4;
    position: sticky;
    top: 0;

    //mobile first
    grid-column: 1/-1;
    grid-row: 1;
    display: flex;

    &--ul {
      align-items: center;
      display: flex;
      margin: auto;

      a {
        margin-right: 5px;

        @media screen and (min-width: 350px) {
          margin-right: 2vw;
        }

        @media screen and (min-width: 412px) {
          margin-right: 10vw;
        }

        i {
          margin-right: 5px;
        }

        li {
          font-size: 1.5rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      @media screen and (min-width: 768px) {
        grid-row: 1/-1;
        margin-top: 0;
        flex-direction: column;
        width: 100%;

        a {
          height: 50px;
          width: 100%;
          text-align: center;
          display: flex;
          margin: unset;

          li {
            place-self: center;
            padding-left: 3rem;
            font-size: 1.7rem;
          }

          &:hover:not(.active) {
            background-color: #818181;
            color: white;
            &::before {
              content: "";
            }
          }
        }

        .active {
          &::before {
            content: "";
            border-left: 5px solid yellowgreen;
          }

          background-color: #5c5b5b;
        }
      }
    }

    @media screen and (min-width: 768px) {
      grid-column: 1;
      grid-row: 1/-1;
    }
  }

  &__content {
    grid-column: 1/-1;
    padding: 12px;

    @media screen and (min-width: 768px) {
      grid-column: 2/-1;
      grid-row: 1/-1;
      background-color: unset;
      height: 80vh;
    }
  }
}
