@import "base/variables";
@import "base/base";
@import "base/buttons";
@import "base/forms";
@import "base/to-top-btn";
@import "base/db-table";

@import "admin-header";
@import "admin-nav";
@import "admin-main";

@import "category/input-forms";

@import "products/admin-products";

@import "createProduct/createProduct";

@import "orders/orders";

@import "order/order";
