.searchContent {
  h1 {
    text-align: center;
  }

  h2.emptyResultMessage,
  h2.invalidKeywordMessage {
    color: red;
    text-align: center;
  }

  .grid-box {
    //-ms-grid-rows: 250px 100px !important;
    grid-template-rows: 250px auto;

    .grid-2 {
      @supports(display: grid) {
        padding: 10px 0;
        height: auto;
      }
    }
  }
}