// BASIC SETTING, TO REMOVE DEFAULT SETTING.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  //   @include respond(tab-land) {
  //     // width < 1200?
  //     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  //   }

  //   @include respond(tab-port) {
  //     // width < 900?
  //     font-size: 50%; //1 rem = 8px, 8/16 = 50%
  //   }

  //   @include respond(big-desktop) {
  //     font-size: 76.8%; //1rem = 12, 12/16
  //   }
}

ul {
  list-style-type: none;

  li {
    list-style: none;
  }
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

body {
  min-width: 320px;
  min-height: 100%;
}

svg:hover,
.edit-btn:hover,
.del-btn:hover {
  cursor: pointer;
}

