table#orderAdminTable th.sortable {
  cursor: pointer;
  &:hover {
    background-color: #d3d3d3;
    // color: white;
  }
}

input[name="countyNameFilter"] {
  //   margin-bottom: 10px;
  max-width: 300px;
  border: 1px solid green;
}

label.bold {
  font-weight: bold;
}

form.orderCategoryFilter {
  display: flex;
  align-items: center;

  max-width: 300px;
  background-color: rgba(179, 223, 156, 0.6);
  border: 1px solid green;

  padding: 6px 4px;
  margin-top: 3px;
  margin-bottom: 10px;

  div.form-group {
    margin: 0 8px;
    input[type="radio"] {
      vertical-align: baseline;
    }
    label {
      margin: 0;
      font-weight: normal;
    }
  }
}
