#checkout-main {
  margin: 0 auto;
  padding: 70px;

  font-family: "Lato", sans-serif;

  p,
  tr,
  td,
  th,
  dt,
  dd {
    font-family: "Lato", sans-serif !important;
  }
}
.checkout-form,
.checkout-form--hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__cart-contents {
    width: 280px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: rgb(226, 225, 221);
    &__img {
      width: 100px;

      padding: 10px;
      border-radius: 3px;
    }
  }

  &__email-section {
    width: 280px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: rgb(226, 225, 221);
  }

  &__delivery-section {
    @extend .checkout-form__delivery-section--click;
    opacity: 0.4;
  }
  &__delivery-section--click {
    width: 280px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: rgb(226, 225, 221);
  }

  &__label {
  }
  &__input,
  &__input--email {
    background: rgb(255, 255, 255);
    border: 1px solid $red;
    height: 30px;
    width: 260px;
    margin-bottom: 20px;
  }

  &__addBtn,
  &__deliveryBtn {
    font-weight: bold;
    background-color: $red;
    border: none;
    border-radius: 3px;
    color: white;
  }
  &--hidden__checkoutBtn__dim {
    @extend .checkout-form--hidden__checkoutBtn;
    opacity: 0.4;
  }
  &--hidden__checkoutBtn {
    width: 280px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    background-color: $darkgreen;
    border: none;
    border-radius: 3px;
    color: white;
  }
  &--hidden__total-price {
    text-align: center;
  }
}
