#last-chance-main {
  .content {
    .product-container {
      margin-top: 0;

      .product {
        border: 1px solid $red;

      }
    }
  }

  .discount-price {
    color: $red;

    &::before {
      content: "REA";
      margin-right: 10px;
    }
  }
}