#last-chance-main {
  .content {
    .product-container {
      margin-top: 0;

      .product {
        border: 2px solid $red;
      }
    }
  }

  .discount-price {
    color: $red;

    &::before {
      content: "REA";
      margin-right: 10px;
    }
  }
}

.product.oldProduct {
  border: 2px solid $oldItemBorder !important;
}
