#latest-products-main {
  .content {
    .product-container {
      margin-top: 0;

      .product {
        border: 2px solid $newItemBorder;
      }
    }
  }

  .special-price {
    color: #1eeaac;

    &::before {
      content: "NYTT";
      margin-right: 10px;
    }
  }
}

.product.newProduct {
  border: 2px solid $newItemBorder !important;
}
