.slide1 {
  background-image: url("https://images.unsplash.com/photo-1523554888454-84137e72c3ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80https://images.unsplash.com/photo-1523554888454-84137e72c3ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.slide2 {
  background-image: url("https://images.unsplash.com/photo-1554188248-986adbb73be4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.slide3 {
  background-image: url("https://images.unsplash.com/photo-1558879787-4c4aea1fbb83?ixlib=rb-1.2.1&auto=format&fit=crop&w=932&q=80");
}

.slide4 {
  background-image: url("https://images.unsplash.com/photo-1572450732467-5eb1311e7bc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
}

#p-main {
  overflow: visible;
  /* mobile */
  margin-top: 110px;

  @media screen and (min-width: 800px) {
    margin-top: 80px;
  }

  @supports(display: grid) {
    margin-top: 720px;

    @media screen and (min-width: 800px) {
      margin-top: 340px;
    }
  }
}

@media all and (-ms-high-contrast:none) {

  /* IE11 */
  *::-ms-backdrop,
  #p-main {
    margin-bottom: 100px;
  }
}

.single-product-page__body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .main__header {
    top: 0;
    left: 0; //This is just for IE
  }

  .hamburger__bar-wrapper {
    top: 0;
    left: 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    width: 93%;
    max-width: 1200px;
    margin: 0 auto;

    @supports (display: grid) {
      // margin: 44vh auto 0;
    }

    .single-product {
      position: relative;
      background-color: #fff;
      padding: 0 0 20px 0;
      box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
      max-width: 1000px;
      scrollbar-color: transparent transparent;
      display: grid;
      grid-template-rows: minmax(300px, 635px) 1fr;
      top: 15px;

      .p-grid-1 {
        display: block;
        position: relative;

        #slideshow {
          width: 90%;
          max-height: 50vh;
          height: 100%;
          padding: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          .slide-close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #fff;
            z-index: 1;
            cursor: pointer;
            padding: 5px;
            box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
            width: 30px;
            height: 30px;

            &:hover {
              box-shadow: 0px 3px 20px 0px rgba(255, 255, 255, 0.4);
            }
          }

          &>div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
          }

          .slide {
            background-size: cover;
          }
        }
      }
      .p-grid-2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
      }

      article {
        width: 93%;
        margin: 20px auto;
      }

      &__title {
        margin: 0 0 1rem 0;
        font-size: 2.3rem;
        text-align: left;
        color: inherit;
        transition: all 0.2s;
        text-align: center;
      }

      &__text {
        margin: 0;
        transition: all 0.2s;
        font-size: 20px;
      }

      &__storage-count {
        transition: all 0.2s;
        margin: 0;
        text-align: center;
        color: $green;
        font-size: 20px;
      }

      @media (min-width: 480px) {
        .single-product__title {
          font-size: 3rem;
        }

        .single-product__text,
        .single-product__storage-count {
          font-size: 1.5rem;
        }
      }
    }
  }
}