table.product-table {
  div.productCoverDemo {
    display: flex;
    justify-content: center;
  }

  span.gallerySize {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    padding: 0 3px;
    border-left: 2px solid white;
  }

  img.cover-demo {
    object-fit: cover;
    object-position: center;
    width: 60px;
    height: 50px;
    border: 1px solid lightgray;
  }
}

// This class avoids creating multiple lines
.ellipsis {
  position: relative;
  width: 23%;
}

.ellipsis .description-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 6px;
}

.ie-box {
  display: none;
}