/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

body {
  min-width: 320px;
  min-height: 100%;
}

svg:hover,
.edit-btn:hover,
.del-btn:hover {
  cursor: pointer;
}

.nav-char-active {
  color: white;
  font-weight: bold;
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
}

.edit-btn {
  border: 1px solid black;
  background-color: white;
  border-color: #adadad;
}

.edit-btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: gray;
}

.del-btn {
  border: 1px solid #d43f3a;
  color: #fff;
  background-color: #d9534f;
}

.del-btn:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.errmsg {
  padding: 1.5rem;
  height: 4rem;
  width: 25rem;
  border: 1px solid #f73e3e;
  border-radius: 7px;
  color: red;
}

.add-category {
  text-align: center;
}

@media screen and (min-width: 350px) {
  .add-category {
    text-align: unset;
  }
}

.add-category .errmsg {
  padding: 1.5rem;
  height: 4rem;
  width: 25rem;
  border: 1px solid #f73e3e;
  border-radius: 7px;
  color: red;
  margin: 1rem 0 0 -26px;
}

@media screen and (min-width: 350px) {
  .add-category .errmsg {
    margin: -3rem 0 5rem 15%;
  }
}

@media screen and (min-width: 612px) {
  .add-category .errmsg {
    margin-left: 5%;
  }
}

@media screen and (min-width: 768px) {
  .add-category .errmsg {
    margin: -2rem auto 0 14rem;
  }
}

@media screen and (min-width: 974px) {
  .add-category .errmsg {
    margin: 2rem auto 0 5rem;
  }
}

.add-category .category-input {
  padding: 1.5rem;
  height: 4rem;
  width: 25rem;
  border: 1px solid gray;
  border-radius: 7px;
}

.add-category .category-input:focus {
  border: 1px solid #35c9f7;
}

@media screen and (min-width: 350px) {
  .add-category .category-input {
    margin: 2rem 0 3rem 15%;
  }
}

@media screen and (min-width: 768px) {
  .add-category .category-input {
    margin: 2rem 0 3rem 14rem;
  }
}

.add-category .category-submit {
  border: none;
  background-color: unset;
}

.add-category .category-submit .svg-icon {
  width: 26px;
  border: none;
}

.admin-main__content--search {
  margin-left: 3rem;
}

.admin-main__content--search .error-up {
  margin-left: 3rem;
  color: red;
  font-size: 1.2rem;
}

.admin-main__content--search i {
  margin-right: 1vw;
  font-size: large;
}

.admin-main__content--search .search-area {
  padding: 1.5rem;
  height: 4rem;
  width: 25rem;
  border-radius: 7px;
  border: 1px solid grey;
  margin: .5rem 2rem 1.2rem 0;
  outline: none;
}

.admin-main__content--search .search-area:focus {
  border: 1px solid #35c9f7;
}

.admin-main__content__products-table {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-collapse: collapse;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .admin-main__content__products-table {
    margin-top: 2rem;
  }
}

.admin-main__content__products-table tr > th,
.admin-main__content__products-table tr > td {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .admin-main__content__products-table tr > th,
  .admin-main__content__products-table tr > td {
    font-size: 1.4rem;
  }
}

.admin-main__content__products-table tr > th:last-child,
.admin-main__content__products-table tr > td:last-child {
  width: 15%;
}

.admin-main__content__products-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-main__content__products-table tr > td:last-child > a:first-child {
  margin-right: 2rem;
  color: #224022;
}

.admin-main__content__products-table tr > td:last-child > a:last-child {
  color: #8a1010;
}

.ellipsis {
  position: relative;
  width: 23%;
}

.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}

.ellipsis .description-text {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-header {
  height: 12vh;
  background-color: #333333;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .admin-header {
    height: 10vh;
  }
}

.admin-header__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 3rem;
  font-size: 4rem;
}

.admin-header__title i {
  margin-right: 1rem;
}

.admin-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vh auto;
      grid-template-columns: 30vh auto;
  grid-auto-rows: minmax(50px, auto);
}

@media screen and (min-width: 768px) {
  .admin-main {
    grid-auto-rows: minmax(50px, auto);
    -ms-grid-rows: 20vh 120vh;
        grid-template-rows: 20vh 120vh;
  }
}

.admin-main__sidebar {
  background-color: #c4c4c4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-main__sidebar--ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.admin-main__sidebar--ul a {
  margin-right: 5px;
}

@media screen and (min-width: 350px) {
  .admin-main__sidebar--ul a {
    margin-right: 2vw;
  }
}

@media screen and (min-width: 412px) {
  .admin-main__sidebar--ul a {
    margin-right: 10vw;
  }
}

.admin-main__sidebar--ul a i {
  margin-right: 5px;
}

.admin-main__sidebar--ul a li {
  font-size: 1.5rem;
}

.admin-main__sidebar--ul a:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .admin-main__sidebar--ul {
    grid-row: 1/-1;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .admin-main__sidebar--ul a {
    height: 50px;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: unset;
  }
  .admin-main__sidebar--ul a li {
    place-self: center;
    padding-left: 3rem;
    font-size: 1.7rem;
  }
  .admin-main__sidebar--ul a:hover:not(.active) {
    background-color: #818181;
    color: white;
  }
  .admin-main__sidebar--ul a:hover:not(.active)::before {
    content: "";
  }
  .admin-main__sidebar--ul .active {
    background-color: #5c5b5b;
  }
  .admin-main__sidebar--ul .active::before {
    content: "";
    border-left: 5px solid yellowgreen;
  }
}

@media screen and (min-width: 768px) {
  .admin-main__sidebar {
    -ms-grid-column: 1;
    grid-column: 1;
    grid-row: 1/-1;
  }
}

.admin-main__content {
  grid-column: 1/-1;
  height: 80vh;
  padding: 12px;
}

@media screen and (min-width: 768px) {
  .admin-main__content {
    grid-column: 2/-1;
    grid-row: 1/-1;
    background-color: unset;
    height: 80vh;
  }
}

.admin-main__content__category-table {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-collapse: collapse;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .admin-main__content__category-table {
    margin-top: 2rem;
  }
}

.admin-main__content__category-table tr > th,
.admin-main__content__category-table tr > td {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .admin-main__content__category-table tr > th,
  .admin-main__content__category-table tr > td {
    font-size: 1.4rem;
  }
}

.admin-main__content__category-table tr > th:first-child,
.admin-main__content__category-table tr > td:first-child {
  width: 50%;
}

.admin-main__content__category-table tr > th:last-child,
.admin-main__content__category-table tr > td:last-child {
  width: 30%;
}

.admin-main__content__category-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-main__content__category-table tr > td:last-child > a:first-child {
  margin-right: 2rem;
  color: #224022;
}

.admin-main__content__category-table tr > td:last-child > a:last-child {
  color: #8a1010;
}
/*# sourceMappingURL=adminpanel.css.map */